{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}
    Change Password
{% endblock %}
{% block body_block %}
    {% if changed %}
        <div class="alert alert-success">
            <p>Password Changed Successfully</p>
        </div>
    {% else %}
    <h2>Change Password</h2>
    <form method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-info btn-md">Change Password</button>
    </form>
    {% endif %}
{% endblock %}